# Node modules
node_modules/
npm-debug.log
yarn-error.log

# Environment variables
.env

# Logs
logs/
*.log

# Build and output directories
dist/
build/

# Editor-specific files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db
